.myTable {  
    padding: 0;
    border: 1px solid #CCCCCC;
    color: #000;
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #FCFCFC;
}  
  
.myTable th {
    background-repeat: repeat-x;
    height: 36px;
    font-size: 24px;
}
  
.myTable td, .myTable th {  
    border: 1px solid #CCCCCC;  
    text-align: center;  
    word-break: break-all;
}
        
.myTable td {  
    font-size: 15px;
    height: 26px;
}
  
.myTable tr.alter {  
    background-color:#c8c7cc;
}

#txtWorkDay
{
	font-family:"Arial","Microsoft YaHei","黑体","宋体"，sans-serif;
	font-weight:bold;
	text-align:center;
	}
	
.huizong
{
	font-family:"Arial","Microsoft YaHei","黑体","宋体"，sans-serif;
	font-weight:bold;
	}